Implementation/DomainTier/ObjectTests/com/processpuzzle/application/resource/domain/TestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="rootElement">
		<complexType>
			<sequence>
				<element name="Resource" type="string" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Language" type="string" minOccurs="0" maxOccurs="unbounded">
				</element>
			</sequence>
		</complexType>
	</element>
</schema>