Implementation/DomainTier/Source/com/processpuzzle/artifact/domain/ArtifactView.xsd

<?xml version="1.0"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.processpuzzle.com/"
    xmlns:pp="http://www.processpuzzle.com/"
    elementFormDefault="qualified">

	<xsd:complexType name="ArtifactView">
		<xsd:sequence>
			<xsd:element name="artifactId" type="xsd:string" />
			<xsd:element name="artifactName" type="xsd:string" />
			<xsd:element name="viewName" type="xsd:string" />
			<xsd:element name="preferredLanguage" type="xsd:string" />
			<xsd:element name="viewType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>